<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="google-site-verification" content="YEPv-Hqqg6f4uC3BR8v5D0_ioR6wzas1_Ob7cP5KNYg" />

    <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/styles.css" rel="stylesheet">


    <title>Kino Helper</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

  </head>

  <body>



    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav fixed">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
          <div class="navbar-header waves-light">
            <a class="navbar-brand" href="/dashboard" style="font-size: 1.5rem"><img src="images/favicon.png" height="30"> Kino Helper</a>
          </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            <li><a href="/dashboard" class="collapsible-header waves-effect arrow-r">Dashboard</a>
            </li>
            <li><a href="/selectPackage" class="collapsible-header waves-effect arrow-r">Change Package</a>
            </li>
            <li><a href="/macroCalc" class="collapsible-header waves-effect arrow-r">Macro Calculator</a>
            </li>
          </ul>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
      </div>
      <!-- Breadcrumb-->
      <!-- <div class="breadcrumb-dn mr-auto">
      <a class="navbar-brand" href="/dashboard"><img src="images/favicon.png" height="20"> Kino Helper</a>
      </div> -->
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Logout"><span class="clearfix d-none d-sm-inline-block">Logout</span></a>
        </li>
      </ul>
    </nav>
    <!-- /.Navbar -->

    <div class="container sticky-alert">
        <%if (success && success.length > 0){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=success%>
        </div>
        <%}%>

        <%if (error && error.length > 0){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=error%>
        </div>
        <%}%>
    </div>

    
    <div class="container-fluid">