<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="YEPv-Hqqg6f4uC3BR8v5D0_ioR6wzas1_Ob7cP5KNYg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">


    <title>Kino Helper</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Kino Helper</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/dashboard">HOME</a></li>
          <li id="contact"><a href="/Logout">Logout</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container-fluid">