<%#MACRO CALC CHECK%>

<div class="modal fade" id="askAboutMacro" tabindex="-1" role="dialog" data-ask-about-macro="<%=askedAboutMacro%>" aria-labelledby="exampleModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Getting Started</h5>
            <img src="/icons/Close.svg" class="close" data-dismiss="modal" aria-label="Close">
        </img>
        </div>
        <div class="modal-body past-exercises">
            Would you like to calculate your macros and calories now?
        </div>
        <div class="modal-footer justify-content-between">
            <a type="button" href="#" class="my-btn btn-link ask-about-macro-button" data-dismiss="modal">I'll do that later</a>
            <a type="button" href="/macroCalc" class="my-btn btn-primary ask-about-macro-button">Let's do it!</a>
        </div>
        </div>
    </div>
    </div>