<%- include("partials/header.ejs") -%>

<h1>Dashboard</h1>

<h2>array of workouts</h2>

<br>
<br>
<br>
<br>

<a href="/weightcalc" class="btn btn-secondary">Macros Calculator</a>
<a href="/selectPackage" class="btn btn-secondary">Change Workout Program</a>


<%- include("partials/footer.ejs") -%>