<%- include("partials/header.ejs") -%>

<h1>Welcome</h1>

<p>
<p>
<p>
<p>
<p>

<div class="container">
<div class="row row-centered">
<div class="col-m-4 col-centered">
    <div class="card social-block">
        <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign In with Google
            </a>
        </div>
    </div>
</div>
</div>
</div>

<br>
<br>
<br>
<br>


<%- include("partials/footer.ejs") -%>