<%- include("partials/header.ejs") -%>

<p>
<p>
<p>
<p>
<p>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Spend less time tracking your workouts</h5>
    <p class="card-text">One-click exercise recording, weight calculator, weekly dashboard and more</p>
    <a href="/auth/google" role="button" class="btn btn-gplus"><i class="fab fa-google"></i>  Sign in with Google</a>
  </div>
</div>

<br>
<br>
<br>
<br>


<%- include("partials/footer.ejs") -%>