<%- include("partials/header.ejs") -%>

<h1>Welcome</h1>

<a href="/Signup" class="btn btn-primary">Signup</a>
<a href="/login" class="btn btn-secondary">Login</a>

<p>
<p>
<p>
<p>
<p>

<div class="col-sm-4">
    <div class="card social-block">
        <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign In with Google
            </a>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>


<%- include("partials/footer.ejs") -%>