<%- include("partials/headerFooter/header2.ejs") -%>



<!-- <div class="video">

  <div class="text-center videoCard">
    <div class="card-body">
      <h5 class="card-title">Spend less time tracking your workouts</h5>
      <p class="card-text">One-click exercise recording, in-context instructions, bar-weight calculator, macro calculator, and more!</p>
      <a href="/auth/google" role="button" class="btn btn-gplus"><i class="fab fa-google"></i>  Sign in with Google</a>
    </div>
  </div>
  
  <div class="video-container">
    <div class="video-color-overlay">      
      <video autoplay loop muted playsinline>
      <source src="/video/workoutPeople.mp4" type="video/mp4">
      </video>
    </div>  
  </div>
    
</div> -->

<header class="v-header container-video">
  <div class="fullscreen-video-wrap">
      <video autoplay loop muted playsinline>
        <source src="/video/workoutPeople.mp4" type="video/mp4">
      </video>
  </div>
  <div class="header-overlay"></div>
  <div class="text-center header-content">
      <div class="card-body">
          <h4 class="card-title">Spend less time tracking your workouts</h4>
          <p class="card-text">One-click exercise recording, in-context instructions, bar-weight calculator, macro calculator, and more!</p>
          <a href="/auth/google" role="button" class="btn btn-gplus"><i class="fab fa-google"></i>  Sign in with Google</a>
      </div>
  </div>
</header>



<%- include("partials/headerFooter/footer.ejs") -%>