<%- include("partials/headerFooter/header2.ejs") -%>


<!-- Navbar -->
<nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" style="padding-bottom: 0px; -webkit-box-shadow: 0, 0; box-shadow: 0, 0;">
    <!-- SideNav slide-out button -->
      <a class="button logo-text" style="z-index: 100; margin-left: 10px; margin-top:10px; color: #ffffff; font-size: 24px; cursor:default;">LessWork</a>
</nav>

<header class="v-header container-video">
  <div class="fullscreen-video-wrap">
      <video autoplay muted loop playsinline>
        <source src="/video/kino3.mp4" type="video/mp4">
      </video>
  </div>
  <div class="header-overlay"></div>
  <div class="text-center header-content">
      <div class="card-body">
          <h4 class="card-title">Spend less effort tracking your KinoBody workouts</h4>
          <p class="card-text">Try free for 7 days</p>
          <a href="/auth/google" role="button" class="btn btn-gplus" onclick="amplitude.getInstance().logEvent('Login Clicked')"><i class="fab fa-google"></i>  Sign in with Google</a>
          <p class="card-text" style="font-size:12px; margin-top:20px;">No card required. $2/month thereafter.</p>
          <div class="spacer-div" id="index-spacer"></div>
          <p class="card-text" style="font-size: 14px;">*Not affiliated with Kinobody LLC*</p>
          <p class="card-text" style="font-size: 14px;"> Available for Warrior Shredded and Goddess Toning programs</p>
      </div>
  </div>
</header>

<div style="margin-top:-50px;">
  <div class="container-fluid">
    <div class="text-center">
          <h4 class="card-title">Imagine if Strong App & Kinobody Had a Baby</h4>
    </div>
    <div class="grid" style="margin-top:40px;">
        <img class="column1" src="/icons/weightlifter.svg"><p class="column2">No manual input - each Kinobody workout is pre-loaded</p>
        <img class="column1" src="/icons/playbook.svg"><p class="column2">In-context Kinobody instructions for each exercise</p>
        <img class="column1" src="/icons/calc.svg"><p class="column2">Bar weight calculator, calorie calculators, rest timers and more!</p>
    </div>

    <div style="height: 50px;"></div>  
    
  </<p>
</div>

<%- include("partials/headerFooter/footer.ejs") -%>