<%- include("partials/header.ejs") -%>

<h1>Welcome</h1>

<a href="/Signup" class="btn btn-primary">Signup</a>
<a href="/login" class="btn btn-secondary">Login</a>

<p>
<p>
<p>
<p>
<p>
<br>
<br>
<br>
<br>
<br>

<%- include("partials/footer.ejs") -%>