<%- include("partials/header.ejs") -%>

<h1>Welcome</h1>

<form action="/signup">
    <button type="submit" class="btn btn-primary">Signup</button>
</form>

<form action="/login" float="left">
    <button type="submit" class="btn btn-secondary">Login</button>
</form>

<p>
<p>
<p>
<p>
<p>
<br>
<br>
<br>
<br>
<br>

<%- include("partials/footer.ejs") -%>