<%- include("partials/header.ejs") -%>

<h1>Select Package</h1>

<h2>array of packages</h2>

<h3>modal that ask you to put in the product number from your receipt</h3>

<%- include("partials/footer.ejs") -%>