<%- include("partials/header.ejs") -%>


<h1>headerrr</h1>

<button>test button</button>

<br>
<br>
<br>

<input type="text" name="test" id="test" value="">

<p>test paragraph</p>

<br>
<br>
<br>
<br>

<a>hide input</a>

<%- include("partials/footer.ejs") -%>