<%- include("partials/header.ejs") -%>

<h1>Weight Calc</h1>

<form action="/weightcalc" method="POST">
    <input type="number" placeholder="enter your weight">
    <button>Calculate Macros</button>
</form>

<%- include("partials/footer.ejs") -%>