
.row-centered {
    text-align: center;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

/* New Design */
body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #37332F;
    background-color: #F0F0F0;
    background-image: url(../images/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: auto 70vh;
}

@media screen and (max-width: 479px) {
    .desktop-overlay{
        display:none;
    }
}
.desktop-overlay {
    /* background-color:#FFFFFF; */
    background-color: #F0F0F0;
    background-image: url(../images/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: auto 90vh;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:2000;
}
/* .background {
    margin:0;
    background: #ffff; 
    z-index: -1;
    position: relative;
}
.background:after {
    content:"";
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    width:calc(100vh + 800px);
    background: #fe8c00;  
    background: -webkit-linear-gradient(80deg, #fe8c00, #f83600);  
    background: linear-gradient(130deg, #fe8c00, #f83600 );       
    transform:skew(70deg);
    z-index: -1;
} */
.navbar {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}
li a {
    font-size: 0.875rem;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  } */

a {
    color: #fe8c00;
}
.italic {
    font-style: italic;
}
.diminished {
    color: #8D8D8D;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
}
h1 h2 h3 h4 h5 h6 {
    line-height: none;
}

.card .card-body h6 {
    font-size: 1rem;
    font-weight: 700;
}
.card-body h5 {
    font-weight: 700 !important;
    font-size: 1.3125rem;
}
.card-title {
    margin-right: 20px;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}
.report-tile-title {
    font-size: 14px;
    text-align: center;
    color: #515151;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
h5 {
    font-weight: 700 !important;
    font-size: 1.3125rem;
}
h2 {
    font-size: 1.75rem;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 700 !important;
}

p {
    margin-bottom: 10px;
}
ul {
    margin-bottom: 20px;
}
.my-btn {
    border-radius: 1.25rem;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
}
.btn-full-width {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
}
.my-btn-medium {
    padding-left: 60px;
    padding-right: 60px;
}
.my-btn-primary {
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fe8c00, #f83600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fe8c00, #f83600 );
    border: none;
    color: #FFFFFF;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
}
.my-btn-primary:active {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
}
.my-btn-secondary {
    background: transparent !important;
    color: #fe8c00;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #fe8c00, #f83600);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #fe8c00, #f83600 );
    border: 1px solid #fe8c00;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.my-btn-secondary:active {
    /* border-width: 1.5px; */
    color: #f66402; 
    border-color: #f66402;

}
.btn-link {
    color: #212529;
}

/* [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #fe8c00;
    background-color: #fe8c00;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #fe8c00;
    border-color: #fe8c00;
}

.spacer-div {
    height: 10px;
}
.text-muted {
    font-weight: 300;
    font-size: 14px;
}
.subheader {
    font-style: italic;
    margin-right: 40px;
}
.no-margin {
    margin: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625rem;
}

.btn-list-number {
    display: inline-block;
    border-radius: 0.437rem;
    border-color: #C4C4C4 !important;
    background-color: #C4C4C4;
    color: #FFFFFF;
    font-size: 0.875rem;
    width: 1.25rem;
    height: 1.25rem;
    cursor: default !important;
    margin-right: 0.625rem;
    text-align: center;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* horizontal scrolling crap */
.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.horizontal-scroll::-webkit-scrollbar {
    width: .01rem;
    height: .01rem;
}
.waves-effect.waves-orange .waves-ripple {
    background: rgba(236, 219, 197, 0.404);
}


/* Modal Stuff */
.modal-header2 {
    border-bottom: none;
    padding: 1.875rem;
    padding-bottom: 0;
    margin: 0;
    /* background: #0052D4; 
    background: -webkit-linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  
    background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  */
    background: #fe8c00;  
    background: -webkit-linear-gradient(to right, #fe8c00, #f83600);  
    background: linear-gradient(to right, #fe8c00, #f83600 ); 
    z-index: 10;
}
.modal { 
    -webkit-overflow-scrolling: touch; 
}
body.modal-open { /* make stop scrolling you to the top in modal*/
    /* overflow: visible; - StackO said I needed this but I don't think I do */
    position: inherit;
}
.modal-header {
    border-bottom: none;
    padding: 1.875rem;
    padding-bottom: 0;
    margin: 0;
}
.modal-footer {
    margin: 1.875rem;
    margin-top: 0;
    padding: 0;
    border-top: none;
}
.modal-content {
    border-radius: 1.125rem !important;
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem; 
}
.modal-body {
    padding: 1.875rem;
    margin: 0;
    background-color: white;
}
.modal-body-instructions {
    margin: 1.875rem;
    padding: 0;
    background-color: white;
}
.x-circle {
    display: inline-block;
    border-radius: 1rem;
    /* border-color: #707070 !important;
    background-color: #707070; */
    border-color: #D7D7D7;
    background-color: #D7D7D7 ;
    font-size: 0.875rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    top: 22px;
    right: 22.52px;
    position: fixed;
    z-index: 1;
}
.modal-dialog {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.full-page-modal {
    margin: 0;
    border-radius: 0 !important;
    max-height: none;
    height: 100%;
}
.phases-modal {
    width: auto;
    position: element(#phaseSelect);
    transform: translateY(-15.625rem);
}
.p-phases {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}
.phases-modal-body {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
}
.phases-modal-dialog {
    position: relative;
    top: 50px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

/* phase selector select */


.select-wrapper input.select-dropdown {
    border-bottom: none;
    width: 75px;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
}
.select-wrapper span.caret {
    font-size: 0rem;
}
.dropdown-content {
    border-radius: .5rem;
}


.clickable {
    cursor: pointer;
}
.close-special {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.special-modal {
    z-index: 5000;
}
.md-tabs {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.nav-justified .nav-item {
    flex-basis: auto;
}
.md-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, 0.12)
}
.tab-content {
    padding: 0;
}
.modal-backdrop2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
/* End Modal Stuff */

/* Font Awesome */
.fas {
    font-weight: 900;
    color: #212529;
}
/* End Font Awesome */

/* Video stuff 2 */
.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}
.container-video {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translateX(calc((100% - 100vw) / 2));
}
.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
}
.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    opacity: .5;
    z-index: 1;
}
  
.Absolute-Center {
    width: 50%;
    height: 40%;
    /* overflow: auto; */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.header-content {
    z-index: 2;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .header-content {
      margin-top: 25vh;
    }
    .double-nav .button-collapse {
        margin-left: 0px;
    }
  }

.card-img-top {
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
/* End Video Stuff */




.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
    text-align: center;
}

.container-fluid {
    padding: 5% 5%
}

.startHidden {
    display: none;
}


title {
    display: none;
  }

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.sticky-alert {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 999;

}



.custom-select {
    margin: .5rem 0rem;
}

.btn {
    margin-left: 0px;
}

/* Only for snippet */
.double-nav .breadcrumb-dn {
    color: #fff;
  }

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.my-counter-button {
    border-width: 0 1px;
}

.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}

small {
    font-weight: 300;
}

.card {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 8px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 8px rgba(0, 0, 0, 0.05); */
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
}
.card:active {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1), 0px -1px 10px rgba(0, 0, 0, 0.05);
    background-color:rgb(247, 247, 247) !important;
}




/* ============================ */
/* Stuff for Macro Calc Page */
.chart-card {
    height: 200px;
    width: 200px;
    margin-top: 0;
}
.chart-nmbr-lg {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chart-subtext {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #515151;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.chart-text {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}
.chart-text-right {
    float: right;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.main-input {
    background: #EBEBEB;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    width: 80px;
    height: 34px;
    text-align: center;
    padding: 0;
    margin: 10px;
    margin-left: 0;
}
li {
    color: #C4C4C4;
}
.external-link {
    margin-bottom: 7px;
}
.minus-twenty-top{
    margin-top: -20px;
}

/* End Stuff for Macro Calc Page */


/* =========================== */
/* MY OWN NUMBER COUNTER INPUT */
.my-counter-div {
    margin-bottom: 10px;
    margin-top: 10px;
}
.my-counter {
    border: 1px solid #ced4da;
    color: #495057;
    -webkit-appearance: none;
    padding: 5px;
    width: 50px;
    text-align: center;
    background-color: #d7d7d7;
    /* background-color: transparent; */

}
.counter-input {
    margin: 0 -5px;
    border-radius: 0;
    background-color: transparent;
}
.before-radius {
    border-radius: .25rem 0 0 .25rem;
}
.after-radius {
    border-radius: 0 .25rem .25rem 0;
}
.fa-minus, .fa-plus {
    color: #495057;
}
/* End MY OWN NUMBER COUNTER INPUT */




/* ================== */
/* MD BOOTSTRAP STUFF */
/* ================== */

/* Nav stuff */

.side-nav {
    background-color: #fff;
}

.side-nav .collapsible a {
    color: #37332F;
    font-weight: 300;
    font-size: 0.875rem;
    height: 36px;
    line-height: 36px;
}
.side-nav a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 70px;
}
/* .side-nav img {
    transform: translate(-50%,-100%);
} */
.icon-container {
    width: 1rem;
}
.margin-left {
    margin-left: 10px;
}
.side-nav ul li {
    /* padding-left: 1.25rem; */
}
.side-nav ul li li{
    padding-left: 0;
}
.navbar-brand {
    padding: 0px;
    margin: 1.25rem;
    margin-left: 0px;
}




