
<div class="footer text-center" style="margin-top: 20px; margin-bottom: 20px;">
  <p>Made with ❤️ by Blue Ears</p>
</div>


</div> 

  <!-- SCRIPTS -->
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="903fa08b-41cf-405f-9854-306efee59f4c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Moment.js -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js">
  </script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- barCalc Module -->
  <script src="/js/barCalc7.js"></script>
  <!-- pastExercises Module -->
  <script src="/js/history6.js"></script>
  <!-- My scripts -->
<script src="/js/min.scripts5.js"></script>

</body>
</html>