
<div class="footer text-center" style="margin-top: 20px; margin-bottom: 20px;">
  <p>Made with ❤️ by Blue Ears</p>
</div>


</div> 

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Moment.js -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js">
  </script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- barCalc Module -->
  <script src="/js/barCalc.js"></script>
  <!-- pastExercises Module -->
  <script src="/js/pastExercises.js"></script>
  <!-- My scripts -->
<script src="/js/min.scripts.js"></script>

</body>
</html>