<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="google-site-verification" content="YEPv-Hqqg6f4uC3BR8v5D0_ioR6wzas1_Ob7cP5KNYg" />

    <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/styles.css" rel="stylesheet">


    <title>Kino Helper</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

  </head>

  <body>    
  
    <div class="container sticky-alert">
      <%if (success && success.length > 0){%>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=success%>
      </div>
    <%}%>

    <%if (error && error.length > 0){%>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=error%>
      </div>
    <%}%>
  </div>
  
  <div class="container-fluid">

    