<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="google-site-verification" content="YEPv-Hqqg6f4uC3BR8v5D0_ioR6wzas1_Ob7cP5KNYg" />

    <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Rubik Font -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,700" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/styles.css" rel="stylesheet">


    <title>Kino Helper</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

  </head>

  <body>



    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav fixed">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
          <div class="navbar-header waves-light">
            <a class="navbar-brand" href="/dashboard" style="font-size: 1.5rem"><img src="images/favicon2.png" height="27" style="transform: translate(0%, -15%); margin-right: 5px;"> Kino Helper</a>
          </div>
        </li>
        <div style="border-bottom: 1px #E7E7E7 solid; width: 100vw;"></div>
        <div class="spacer-div"></div>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            <li>
              <a href="/dashboard" class="collapsible-header waves-effect arrow-r">
                <div class="inline-block icon-container">
                  <img src="/icons/dumbbell.svg">
                </div>
                <div class="inline-block margin-left">
                  Select Workout
                </div>
              </a>
            </li>
            <li>
              <a href="/selectPackage" class="collapsible-header waves-effect arrow-r">
                <div class="inline-block icon-container">
                  <img src="/icons/switchArrows.svg">
                </div> 
                <div class="inline-block margin-left">
                  Change Package
                </div>
              </a>
            </li>
            <li>
              <a href="/macroCalc" class="collapsible-header waves-effect arrow-r">
                <div class="inline-block icon-container">                
                  <img src="/icons/Calculator.svg"> 
                </div>
                <div class="inline-block margin-left">                  
                  Macro Calculator
                </div>                
                </a>
            </li>
            <br>
            <li>
              <a href="/Logout" class="collapsible-header waves-effect arrow-r">
                <div class="inline-block icon-container">
                  <img src="/icons/Power.svg"> 
                </div>
                <div class="inline-block margin-left">                  
                  Logout
                </div>
              </a>
            </li>
          </ul>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><img src="/icons/menuLeft.svg"></a>
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
          <!--<a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>-->
          <!--<a href="#" data-activates="slide-out" class="button-collapse"><img src="/icons/menu.svg"></a>-->
          <!--<img src="/icons/menu.svg" class="menu" data-dismiss="modal" aria-label="Close">-->
        </li>
      </ul>
    </nav>
    <!-- /.Navbar -->

    <div class="container sticky-alert">
        <%if (success && success.length > 0){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=success%>
        </div>
        <%}%>

        <%if (error && error.length > 0){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=error%>
        </div>
        <%}%>
    </div>

    
    <div class="container-fluid">
    <div class="background">
    </div>