<div class="desktop-overlay">
<div class="background"></div>
    <div class="text-center header-content Center-Container Absolute-Center">
        <div class="card-body">
            <h1 class="white-text">Please open this page on your mobile phone</h1>
            <p class="white-text">KinoHelper is currently designed only for mobile phones. If you have feedback please let us know at feedback@kinohelper.com</p>     
        </div>
    </div>
</div>