<div >
<div class="clickable" data-toggle="modal" data-target="#fullExerciseModal<%=index%>" data-backdrop="static" data-keyboard="false">
<h2 class="card-title"><%= exercise.name %> </h2>
</div>
    

</div>