<div class="modal fade special-modal" id="pastExercisesModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">History</h5>
            <img src="/icons/Close.svg" class="close" data-dismiss="modal" aria-label="Close">
            </img>
        </div>
        <div class="modal-body past-exercises" data-exericse="<%=index%>">

        </div>
        </div>
    </div>
    </div>