<div class="modal fade" id="fullExerciseModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable full-page-modal" role="document">
    <div class="modal-content full-page-modal">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Full Exercise Modal</h5>
        <img src="/icons/Close.svg" class="close" data-dismiss="modal" aria-label="Close">
        </img>
    </div>
    <div class="modal-body">
        <!-- Exercise Header -->
        <%- include("./exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit}) -%>

        <!-- Warmups -->
        <%- include("./warmups.ejs", {index: index, exercise: exercise}) -%>

        <!-- Sets -->
        <%- include("./sets/sets.ejs", {index: index, exercise: exercise, unit: unit}) -%>
    </div>
    </div>
</div>
</div>