<%#HANDLE NOTES%>
<input style="margin-bottom: 10px;" type="text" class="form-control startHidden" id="note_<%=index%>_<%=i%>" name="note[]" placeholder="Note about your set" maxlength="140">
<p><a href="#" class="addNote"  id="addNote_<%=index%>_<%=i%>">Add Note</a></p>