<%#HANDLE NOTES%>
<p>
    <a href="#" class="addNote"  id="addNote_<%=index%>_<%=i%>" onclick="amplitude.getInstance().logEvent('Add Note Clicked')">Add Note</a>
    <a href="#" class="restTimer" style="margin-left: 20px;" data-toggle="modal" data-target="#restTimerModal">Start Rest Timer</a>
</p> 


<input style="margin-bottom: 10px;" type="text" class="form-control startHidden" id="note_<%=index%>_<%=i%>" name="note[]" placeholder="Note about your set" maxlength="140">



