<p>
    <div class="inline-block" style="width: 100px;">Weight Unit:
    </div> 
    <div class="inline-block" style="margin-left:20px;">
    <div class="custom-control custom-radio inline-block">
        <input type="radio" id="lbs" class="custom-control-input" name="weightUnit" value="lbs" 
        <%if (user.weightUnit === "lbs"){%>
            checked
            <%}%>>
        <label class="custom-control-label" for="lbs">Lbs</label>
    </div>
    <div class="custom-control custom-radio inline-block" style="margin-left: 20px;">
        <input type="radio" id="kgs" class="custom-control-input" name="weightUnit" value="kgs"
        <%if (user.weightUnit === "kgs"){%>
            checked
            <%}%>>
        <label class="custom-control-label" for="kgs">Kgs</label>
    </div>
    </div>
</p>